.section-padding {
    padding: 4rem 4rem;
}

.footer {
    background-color: #000000;
} 

.sb_footer {
    display: flex;
    flex-direction: column;
}

.sb_footer-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 2rem;
} 
.sb_footer-links_div {
    width: 150px;
    margin: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.title {
    color: white;
}
.socialmedia {
    display: flex;
    flex-direction: row;
    width: 30px;
    height: 30px;

} 


